* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.fondo {
    background-image: url(./img/fondo.gif);
    background-position: center bottom;
    background-size: cover;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
   
}

header {
    align-items: center;
    border-radius: 8px;
    overflow: visible;
}

.modalPack{
    margin-top: 460px;
}

ul{
    float: right;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
    color: #fdcc03;
    margin-right: 50px;
    font-size: 18px;
    
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 0px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    z-index: 6;
}

select{
    margin-bottom: 15px;
}

.navbar{
    height: 180px;
    z-index: 6;
    
}

.navbar a {
    height: 100%
}
.modal-title {
    color: white
}
.modal-footer p, .btnLimpiar, #botonCerrar, #contenedorCarrito{
    color: white;
}

.modal-body{
    margin-left:1px;
}

.logo {
    margin: 10px;
    width: 300px;
    height: 100%;
    margin-top: 0px;
}

.footer {
    background-color: #34393c;
    
    
}

.btn {
    height: 64px;
    margin-right: 10px;
    color: #000;
    background-color: #fdcc03;
    border-color: #eaea1b;
}

.btn:hover {
    background-color: #e3b52c;
    border-color: rgb(27, 17, 18)
}

.btn img {
    width: 28px;
    height: 28px;
}

.btnProd {
    height: 48px;
    padding: 8px;
    margin-right: 10px;
    color: #000;
    background-color: #fdcc03;
    border-color: #eaea1b;
    border-radius: 6px;
    font-weight: 500;

}

.prodEnCarrito {
    justify-content: space-between;

}

.remove-btn {
    border-radius: 4px;
    width: fit-content;
    height: fit-content;
    justify-content: center;
}

#botonCerrar,
.btnLimpiar {
    padding: 0px 10px;
    margin: 10px;
    height: 44px;
    background-color: #dc3545;
    border-color: red;
    border-radius: 4px;
}

.btnComprar{
    padding: 0px 10px;
    margin: 10px;
    height: 44px;
    border-radius: 4px;

}

.card-body {
    background-color: #e3b52c;
    border-radius: 4px;

}

.card img {
    margin: 10px;
    padding: 10px;
}

.card p,
h4,
h5 {
    color: #000;
}

.card {
    margin-bottom: 8px;
    padding: 2px;
}

#contenedorProductos, #filtros {
    margin-right: 0px;
    padding-right: 0px;
    display: none;
}

.checkVino {
    color: #e3b52c;
}

.navbar-toggler{
    background-color: #e3b52c;
    opacity: 0.8;
}